doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href="/css/styles.css")
    title Haskell Elm TODO
  body
    script(type='text/javascript', src='/js/elm.js')
    //-script(type='text/javascript', src='/_reactor/debug.js')
    script(type='text/javascript', src='/js/support.js')
    if development
      script(src="//localhost:35729/livereload.js")
